/* Para un scroll más suave (opcional) */
html {
    scroll-behavior: smooth;
}

/* Reset y configuración global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--blanco); /* Este color blanco en el body podría ser un error si luego quieres texto gris. Revisa si es intencional. */
    background-image: url(../../img/fondo-total.png);
    display: flex; /* Esto usualmente no va en el body a menos que uses flexbox para el layout principal */
}

a {
    color: var(--azul-link);
    transition: color 0.2s ease;
}
a:hover {
    color: var(--celeste);
    text-decoration: none;
}