/* ================== */
/* Secciones y bloques */
/* ================== */

.bienvenida {
    text-align: center;
    margin: 0 30px 30px 30px;
}

.bloque-info {
    background-color: var(--gris-borde-claro);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.bloque-info-nosotros,
.contacto {
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 12px;
    margin: 2rem 1rem;
    box-shadow: 0 0 10px rgba(0, 51, 102, 0.1);
}

.bloque-info-nosotros h2,
.contacto h2 {
    color: var(--azul);
    margin-bottom: 1rem;
}

.bloque-info-nosotros p,
.contacto p {
    color: var(--gris-texto);
    line-height: 1.6;
}

/* ================== */
/* Carreras (Sección contenedora) */
/* ================== */

.carreras {
    margin: 40px 0;
    text-align: center;
}

/* ================== */
/* Títulos otorgados */
/* ================== */

.titulos-otorgados {
    margin-top: 10px;
    text-align: left;
}

.titulos-otorgados h4 {
    color: var(--gris-texto);
    font-size: 1.1em;
    margin-bottom: 5px;
}

.titulos-otorgados ul {
    list-style-type: disc;
    padding-left: 40px;
    color: var(--gris-texto-suave);
}

.titulos-otorgados li {
    color: var(--gris-texto-suave);
    margin-bottom: 3px;
}

/* ================== */
/* Footer */
/* ================== */

footer {
    text-align: center;
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px;
    margin-top: 20px;
}

/* ================== */
/* Sección contacto (revisar duplicidad con .bloque-info-nosotros, .contacto) */
/* ================== */
.contacto {
    background-color: var(--gris-claro);
    padding: 40px 20px;
    border-radius: 8px;
}