/* css/global/_base.css */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--gris-texto); /* Cambiado de var(--blanco) a var(--gris-texto) para que el texto por defecto sea legible. Si es intencional, puedes revertirlo. */
    background-image: url(../../img/fondo-total.webp);
    /* display: flex;  Eliminado, ya que usualmente no va en el body a menos que uses flexbox para el layout principal */
}

a {
    color: var(--azul-link);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--celeste);
    text-decoration: none;
}